---
apiVersion: v1
kind: Secret
metadata:
  name: telegram-chatid-secret
  namespace: announcer-system
data:
  telegram-chatid: ${ANNOUNCER_SYSTEM_TELEGRAM_CHATID}
---
apiVersion: v1
kind: Secret
metadata:
  name: telegram-token-secret
  namespace: announcer-system
data:
  telegram-token: ${ANNOUNCER_SYSTEM_TELEGRAM_TOKEN}
---
apiVersion: v1
kind: Secret
metadata:
  name: github-user-secret
  namespace: announcer-system
data:
  github-user: ${ANNOUNCER_SYSTEM_GITHUB_USER}
---
apiVersion: v1
kind: Secret
metadata:
  name: github-token-secret
  namespace: announcer-system
data:
  github-token: ${ANNOUNCER_SYSTEM_GITHUB_TOKEN}