---
apiVersion: v1
kind: Secret
metadata:
  name: telegram-chatid-secret
  namespace: kubeweekly
data:
  telegram-chatid: ${KUBEWEEKLY_TELGRAM_CHATID}
---
apiVersion: v1
kind: Secret
metadata:
  name: telegram-token-secret
  namespace: kubeweekly
data:
  telegram-token: ${KUBEWEEKLY_TELGRAM_TOKEN}
---
apiVersion: v1
kind: Secret
metadata:
  name: github-token-secret
  namespace: kubeweekly
data:
  github-token: ${KUBEWEEKLY_GITHUB_TOKEN}